body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

/* CSS header */

.header {
  z-index: 50;
  background-color: #004d44;
  position: absolute;
  left: 0em;
  top: 0;
  width: 100%;
  height: 15%;
}

.header__logo{
  position: absolute;
  left: 2em;
  top: 1em;
}

.header nav{
  width: 33%;
  height: auto;
  position: absolute;
  top: 1.4em;
  left: 54em;
  padding: 0% 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 0%;
}

.header nav ul li a{
  text-decoration: none;
  color: honeydew;
  font-size: 20px;
  font-family: montserrat;
}

.header ul li:not(:last-child){
  border-right: 2px solid white;
}

.header ul li a{
  padding: 4px 20px;
}

.navmenu li:hover { /*hover animation settings*/
  color: black;
  transform: scale(1.2);
  text-shadow: none;
}

/*  end CSS header */

/* CSS bgvid */

.showcase{
  width: 100%;
  height: 100vh;
  /*css to make sure video background is fullscreen*/
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -9;

}

.showcase video{
  width: 100%;
  height: 100%;
  position: static;
  object-fit: cover;
}

.title{
  /*width: 100%;
  height: 100%;*/
  background-color:rgb(94,87,81);
  /*font-size: 50px;*/
  color: aliceblue;
  mix-blend-mode: multiply;
  font-family: spectral, sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.title-bgvd{
  height: 0.2em;
  width: 70%;
  font-size: 70px;
  color: white;
  font-family: montserrat;
  position: absolute;
  left: 17%;
  top: 30%;
}

.title-bgvd2{
  color: white;
  font-family: montserrat;
  z-index: 1000;
  position: absolute;
  top: 37%;
  left: 40%;
}

.OfficialPageButt{
  padding: 1rem 4rem;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  color: whitesmoke;
  transition: all 0.2s ease;
  /*background: rgb(187, 175, 161);/*linear-gradient(15deg ,rgb(107, 74, 36), rgb(187, 126, 61));*/
  background: none;
  box-shadow: 0 0 0 0.1em whitesmoke;
  cursor: url(cursor/coffee.png), auto !important;
  font-family: montserrat;
  height: auto;
  width: auto;
  position: absolute;
  top: 65%;
  left: 40%;
}

.OfficialPageButt:hover{
  transform: scale(1.03);
  box-shadow: 0 0 0px 10px white;
}

/* end CSS bgvid */

/* killarney park css */

.row2 .merch_bg2 {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 100%;
  background: linear-gradient(rgba(7, 6, 6, 0.3), rgba(14, 13, 13, 0.3)),
  url(killarneypark2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


.row2 .col2_row7 {
  width : 50%;
  height: auto;
  color: white;
  font-family: montserrat;
  position: absolute;
  left: 3%;
}

.OfficialPageButt2{
  padding: 1rem 4rem;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  color: whitesmoke;
  transition: all 0.2s ease;
  /*background: rgb(187, 175, 161);/*linear-gradient(15deg ,rgb(107, 74, 36), rgb(187, 126, 61));*/
  background: none;
  box-shadow: 0 0 0 0.1em whitesmoke;
  cursor: url(cursor/coffee.png), auto !important;
  font-family: montserrat;
  height: auto;
  width: auto;
  position: absolute;
  top: 110%;
}

.OfficialPageButt2:hover{
  transform: scale(1.03);
  box-shadow: 0 0 0px 10px white;
}

/* end killarney park css */

/* cashel css */
.row3 .merch_bg2 {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 150%;
  background: linear-gradient(rgba(7, 6, 6, 0.3), rgba(14, 13, 13, 0.3)), url(cashel-ireland.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


.row3 .col2_row3 {
  width : 50%;
  height: auto;
  color: white;
  font-family: montserrat;
  position: absolute;
  left: 3%;
}

.OfficialPageButt3{
  padding: 1rem 4rem;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  color: whitesmoke;
  transition: all 0.2s ease;
  /*background: rgb(187, 175, 161);/*linear-gradient(15deg ,rgb(107, 74, 36), rgb(187, 126, 61));*/
  background: none;
  box-shadow: 0 0 0 0.1em whitesmoke;
  cursor: url(cursor/coffee.png), auto !important;
  font-family: montserrat;
  height: auto;
  width: auto;
  position: absolute;
  top: 105%;
}

.OfficialPageButt3:hover{
  transform: scale(1.03);
  box-shadow: 0 0 0px 10px white;
}
/* end cashel css */

/* guinness css */
.row4 .merch_bg2 {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 200%;
  background: linear-gradient(rgba(96, 93, 93, 0.3), rgba(14, 13, 13, 0.3)), 
  url(guinness-ireland2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.row4 .col2_row4 {
  width : 50%;
  height: auto;
  color: white;
  font-family: montserrat;
  position: absolute;
  right: 3%;
}

.OfficialPageButt4{
  padding: 1rem 4rem;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  color: whitesmoke;
  transition: all 0.2s ease;
  /*background: rgb(187, 175, 161);/*linear-gradient(15deg ,rgb(107, 74, 36), rgb(187, 126, 61));*/
  background: none;
  box-shadow: 0 0 0 0.1em whitesmoke;
  cursor: url(cursor/coffee.png), auto !important;
  font-family: montserrat;
  height: auto;
  width: auto;
  position: absolute;
  top: 105%;
}

.OfficialPageButt4:hover{
  transform: scale(1.03);
  box-shadow: 0 0 0px 10px white;
}
/* end guinness css */

/* Kells CSS */
.row5 .merch_bg2 {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 250%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(50, 48, 48, 0.3)), 
  url(boof-of-kells-ireland.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.row5 .col2_row5 {
  width : 50%;
  height: auto;
  color: white;
  font-family: montserrat;
  position: absolute;
  right: 3%;
}

.OfficialPageButt5{
  padding: 1rem 4rem;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  color: whitesmoke;
  transition: all 0.2s ease;
  /*background: rgb(187, 175, 161);/*linear-gradient(15deg ,rgb(107, 74, 36), rgb(187, 126, 61));*/
  background: none;
  box-shadow: 0 0 0 0.1em whitesmoke;
  cursor: url(cursor/coffee.png), auto !important;
  font-family: montserrat;
  height: auto;
  width: auto;
  position: absolute;
  top: 102%;
}

.OfficialPageButt5:hover{
  transform: scale(1.03);
  box-shadow: 0 0 0px 10px white;
}
/* end Kells CSS */

/* Moher CSS */
.row6 .merch_bg2 {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 300%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(50, 48, 48, 0.3)), 
  url(mohercliff-ireland.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.row6 .col2_row6 {
  width : 50%;
  height: auto;
  color: white;
  font-family: montserrat;
  position: absolute;
  right: 3%;
}

.OfficialPageButt6{
  padding: 1rem 4rem;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  color: whitesmoke;
  transition: all 0.2s ease;
  /*background: rgb(187, 175, 161);/*linear-gradient(15deg ,rgb(107, 74, 36), rgb(187, 126, 61));*/
  background: none;
  box-shadow: 0 0 0 0.1em whitesmoke;
  cursor: url(cursor/coffee.png), auto !important;
  font-family: montserrat;
  height: auto;
  width: auto;
  position: absolute;
  top: 102%;
}

.OfficialPageButt6:hover{
  transform: scale(1.03);
  box-shadow: 0 0 0px 10px white;
}
/* end Moher CSS */

.footer{
  width: 100%;
  height: 3em;
  text-align: center;
  background-color: orange;
  position: absolute;
  top: 350%; 
  left: 0%;
  /*padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  /*margin: 3px auto;*/
}

.footer .footer1{
  font-family: montserrat;
  position: absolute;
  left: 42%;
  bottom: -13%;
}






